.reg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height viewport for proper centering */
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 50px; /* Add padding for smaller screens */
  }
  
  .logo-reg {
    height: 300px;
    width: 300px;
  }
  
  .reg-card {
    background-color: white;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Fixed width for consistency */
  }
  
  .app-title {
    font-size: 2rem;
    font-weight: bold;
    color: #6a11cb;
    margin-bottom: 20px;
  }
  
  .reg-form {
    display: flex;
    flex-direction: column;
  }
  
  .reg-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .reg-form button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reg-form button:hover {
    background-color: #2575fc;
  }
  
  p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  